<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Distance from Earth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h3 class="text-center">Distance From Earth</h3>
    <form action="#" th:action="@{/check-distance}" method="post">
        <div class="form-group">
            <label for="source">Source is always Earth</label>
        </div>
        <div class="form-group">
            <label for="destination">Select Destination</label>
            <select th:name="destination" class="form-control" id="destination">
                <option>Select</option>
                <option th:each="p : ${planets}" th:value="${p.getPlanetName()}" th:text="${p.getPlanetName()}"/>
            </select>
        </div>

        <label th:text="${distance}" />

        <br/>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
